In [11]:
import pandas as pd
df=pd.read_csv('D:\\ash\\ml\\ml 2.0\\titanic.csv')
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [12]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [21]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [17]:
dummies = pd.get_dummies(inputs.Sex)
dummies = dummies.astype(int)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [20]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [24]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

KeyError: "['Sex', 'male'] not found in axis"

In [25]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare
0       3  22.0   7.2500
1       1  38.0  71.2833
2       3  26.0   7.9250
3       1  35.0  53.1000
4       3  35.0   8.0500

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [27]:
model.score(X_test,y_test)

0.6865671641791045

In [28]:
model.predict(X_test[0:10])

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0], dtype=int64)

In [29]:
model.predict_proba(X_test[:10])

array([[0.44301414, 0.55698586],
       [0.89215223, 0.10784777],
       [0.89492934, 0.10507066],
       [0.34465361, 0.65534639],
       [0.89535938, 0.10464062],
       [0.88141481, 0.11858519],
       [0.79268798, 0.20731202],
       [0.79541808, 0.20458192],
       [0.89481953, 0.10518047],
       [0.7995027 , 0.2004973 ]])